<!doctype html>
<html ng-app="720kb">
<head>
  <meta name="description" content="angular.js datepicker is an angular.js directive that generates a datepicker calendar on your input element.">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://720kb.github.io/csshelper/assets/ext/src/helper.css">
  <link rel="stylesheet" type="text/css" href="https://yastatic.net/highlightjs/8.2/styles/vs.min.css">
  <link rel="stylesheet" type="text/css" href="https://720kb.github.io/angular-datepicker/assets/css/awful.css">
  <link rel="stylesheet" type="text/css" href="https://720kb.github.io/angular-datepicker/assets/ext/src/css/angular-datepicker.css">
  <link rel="stylesheet" type="text/css" href="schedule.css">
  <title>Schedule</title>
</head>
<body ng-cloak>
  <div class="separator50"></div>
  <h1 class="center-content color-azure font-xx-large">Schedule</h1>
  <div class="separator10"></div>
  <h5 class="center-content font-light color-muted">
  </h5>
  <div class="separator20"></div>
  <div class="line-compress line-max" ng-controller="scheduleController as scheduleList">
    <div class="line">
      <div class="separator10"></div>
      <h4 class="center-content color-azure font-xx-small">Pick a date</h4>
      <div class="separator10"></div>
      <datepicker date-format="dd-MM-yyyy" button-prev='<i class="fa fa-arrow-circle-left"></i>' 
					   button-next='<i class="fa fa-arrow-circle-right"></i>'>
            <input ng-model="scheduleList.date" type="text" class="font-fontawesome font-light radius3" 
	                                        placeholder="&#xf073; Choose a date"
			                                    ng-change="scheduleList.getAppointments()"/>
      </datepicker>
    <div class="separator10"></div>
    <div class="line-compress  center-content radius20">
	     <h2>
            <span ng-if="serverok" class="color-muted"> Date : {{scheduleList.date}}</span>
        </h2>
        <div ng-if="!serverok" ng-cloak class="line center-content color-red">
            <h2 class="message">{{messageserver}}</h2>
        </div>
    </div>
    <div class="separator10"></div>
    <div ng-if="serverok" class="line center-content">
      <div class="separator20"></div>
      <form ng-submit="scheduleList.addAppointment()">
        <div class="separator20"></div>
        <input type="email" ng-model="scheduleList.email"  class="font-fontawesome font-light radius3" size="30" placeholder="add email">
        <div class="separator10"></div>
        <div ng-cloak class="line center-content color-red">
            <h2 class="color-muted">Select Hour</h2>
        </div>
        <span class="color-muted timelabel">Start</span><input type="text" ng-model="scheduleList.starthour" placeholder="HH24:mm" class="font-fontawesome font-light radius3">
        <span class="color-muted timelabel">End</span><input type="text" ng-model="scheduleList.endhour" placeholder="HH24:mm" class="font-fontawesome font-light radius3">
        <div class="separator20"></div>
        <input type="submit" value="add appointment" class="btn">
      </form>
      </div>

      <div class="separator40"></div>
      
      <div ng-cloak class="line center-content color-red">
        <h2 class="message">{{message}}</h2>
      </div>
      <div ng-cloak ng-if="serverok" class="line center-content">
          <table class="color-azure font-xx-small table">
            <tr ng-repeat="appointment in scheduleList.list" class="table-tr">
                <td><span>{{appointment.starthour}}</span></td>
                <td><span>{{appointment.endhour}}</span></td>
                <td><span>{{appointment.email}}</span></td>
                <td ng-click="scheduleList.deleteAppointment(appointment.id)"><span><i class="fa fa-times" aria-hidden="true"></i></span></td>
           </tr>
          </table>
       </div>
    <!--footer-->
    <div class="separator100"></div>
    <div class="hr"></div>
    <div class="separator15"></div>
    <div class="center-content"></div>
    <div class="separator50"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="https://720kb.github.io/angular-datepicker/assets/ext/src/js/angular-datepicker.js"></script>
    <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script type="text/javascript" src="https://720kb.github.io/angular-datepicker/assets/js/index.js"></script>
    <script type="text/javascript" src="schedule.js"></script>
  </body>
  </html>
