.done-true {
  text-decoration: line-through;
  color: grey;
}

.canvas {
	background: #BEBEC3;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	width: 40%;
}

.form {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
.btn {
	margin-top: 20px; 
	margin-bottom: 20px; 
	width: 100%; 
	height: 30px;
}
.table {
	font-size: 20px; 
	width: 100%;
}
.table-tr {
	background: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.table-tr:hover {
	background: #dddcd8;
}

.ng-cloak {
  display: none !important;
}

.message {
	padding-top: 20px;
	padding-bottom: 20px;	
}
.timelabel {
	padding-left: 2em;
	padding-right: 2em;
}
